@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
}
.project_home{
    /* height: 93.9rem; */
    background: #001A6C;

}
.project_home .title_project{
    color:#FFFFFF;
}
.project_home .list_project{
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left:12.5%;
    margin-top: 3.2rem;
}
.project_home .list_project .project{
    width: 23.75%;
    min-height: 64.5rem;
    max-height: 80rem;
    background: #F4F9FF1A;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
.project_home .list_project .project .project-img{
    position: relative;
}
.project_home .list_project .project .project-img:after{
    content: "";
    display: block;
    padding-top:74.8538011%;
}
.project_home .list_project .project .project-img img{
    border-radius: 5px 5px 0px 0px;
    position: absolute;
}
.project_home .list_project .project p{
    font-family: "Roboto";
    font-size: 1.85rem;
    font-weight: 700;
    line-height: 3rem;
    color: #FFFFFF;
    text-transform: uppercase;
    margin: 1.6rem 1.6rem 0.8rem 1.6rem;
}
.project_home .list_project .project ul{
    margin-left: 3.6rem;
    margin-right: 1.6rem;
    flex-grow: 1;
}
.project_home .list_project .project ul li{
    display: list-item!important;
    list-style-position:outside;
    overflow: visible;
    list-style-type: disc;
    color: #FFFFFFB2;
    font-family: "Roboto";
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2.3rem;
    margin-bottom: 1rem;
   
}

.project_home .list_project .project ul li span{
    font-weight: 400;
}
.project_home .list_project .project a{
    font-family: "Roboto";
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 18.75px;
    text-align: left;
    color: #00C2FF;
    margin-left: 1.6rem;
    margin-bottom: 1.6rem;
}
.project_home .view_all_project{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3.2rem;
    padding-bottom: 8.3rem;
}

.project_home .view_all_project > a{
    font-family: "Roboto";
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.875rem;
    text-align: center;
    color: #FFFFFF;
    padding:1rem 1.6rem;
    border-radius: 5px;
    background: #00C2FF;
}