@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
    font-family: "Roboto";
}

.news_event{
    display: flex;
    flex-direction: column;
}
.news_event_content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 75%;
    margin-left: 12.5%;
    margin-top: 3.2rem;
}
.news_event .news_event_content .news_main, .list_news{
    width: 49.16666666%;
}
.news_event .news_event_content .news_main{
    width: 49.16666666%;
    position: relative;
    border-radius: 5px;
    background: #F1F7FF;
}
.news_event .news_event_content .news_main .news_main_img{
    position: relative;
}
.news_event .news_event_content .news_main .news_main_img:after{
    content: "";
    display: block;
    padding-top: 56.214689%;
}
.news_event .news_event_content .news_main .news_main_img img{
    position: absolute;
    object-fit: cover;
}
.news_event .news_event_content .news_Amitech{
    margin-top: 2rem;
}
.news_event .news_event_content .news_Amitech > a{
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.406rem;
    text-align: left;
    color: #4D4D4DB2;
    text-transform: uppercase;
}
.news_event .news_event_content .title{
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.2rem;
    text-align: left;
    color: #4D4D4D;
    margin: 0.8rem 2.4rem;
    
}
.news_event .news_event_content .news_content{
    
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    text-align: justify;
    color: #4D4D4DB2;
    margin: 0rem 2.4rem 1.6rem 2.4rem;

}
.news_event .news_event_content a{
    width: 12rem;
    height: 1.9rem;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.875rem;
    text-align: left;
    color: #00C2FF;
    cursor: pointer;
}
.news_event .news_event_content .list_news .news > a{
    margin: 1rem;
}
.news_event .news_event_content .news_main a{
    margin:2.4rem
}

.news_event .news_event_content .list_news{
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    flex-wrap: wrap;
    right: 12.5%;
}
.news_event .news_event_content .list_news .news{
    width: 48%;
    border-radius: 5px;
    background: #F1F7FF;
    display: flex;
    flex-direction: column;
}
.news_event .news_event_content .list_news .news .news_img{
    position: relative;
}
.news_event .news_event_content .list_news .news .news_img:after{
    content: "";
    display: block;
    padding-bottom: 56.14035087%;
}
.news_event .news_event_content .list_news .news .news_img img{
    position: absolute;
    object-fit: cover;
}
.news_event .news_event_content .list_news .news_action{
    margin-top: 1rem;
    margin-left: 1rem;
}

.news_event .news_event_content .list_news .news_action > a{
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 14.06px;
    text-align: left;
    color: #4D4D4DB2;
    text-transform: uppercase;
}
.news_event .news_event_content .list_news .title_news{
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2.4rem;
    text-align: justified;
    color: #4D4D4D;
    margin:1rem;
    flex-grow: 1;
    height: 4.8rem;
}

.news_event .news_event_content img{
    border-radius: 5px 5px 0px 0px;
}

.mb-15{
    margin-bottom: 2rem;
}
.news_event .button_news_event {
    width: 12.7rem;
    height: 4rem;
    margin-left: 50%;
    transform: translate(-50%);
    margin-top: 3.2rem;
    margin-bottom: 7.2rem;
    border-radius: 5px;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 18.75px;
    background: #006CE7;
    color:#FFFF;
    cursor: pointer;
    display: flex;
    justify-content:center;
    align-items: center;
}