@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Roboto";
}
html{
    font-size: 10px;
}
section {
    width: 100%;
    margin-top: 14.2rem;
}
section .page_newsDetail_breadcrumb{
    margin-left:12.5%;
    padding-top:1.6rem
   
}

section .page_newsDetail_breadcrumb a,
section .page_newsDetail_breadcrumb span{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    text-align: left;
   color:  #4D4D4D;
}
section .project_main{
    width: 75%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 12.5%;
    margin-top: 3.2rem;
    padding-bottom: 4.8rem;
    border-bottom:1px solid #D9D9D9;
}
section .project_main .project_carousel ,
section .project_main .project_main_content{
    width: 49.2%;
}

.project_main .project_carousel .carousel-item img{
    border-radius: 5px;
}

.carousel-control-next, .carousel-control-prev  {
    width: 3.2rem!important;
    height: 3.2rem;
    border-radius: 50%;
    top: 50%!important;
    font-size: 1.4rem;
    font-weight: 900;
    line-height: 1.4rem;
    opacity: 1!important;
    margin: 0rem 2rem !important;
    
}
.carousel-control-prev {
    background: #006CE74D!important;
}
.carousel-control-next{
    background: #006CE7!important;
}

.project_main .project_main_content .project_main_title{
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.4rem;
    text-align: justify;
    color: #4D4D4D;
    text-transform: uppercase;
}
.project_main .project_main_content ul{
    margin-bottom: 3rem;
}
.project_main .project_main_content ul li{
    list-style-type: disc;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.3rem;
    text-align: left;
    color: #4D4D4D;
    margin-top: 0.7rem;
}
.project_main .project_main_content ul li span{
    font-weight: 700;
}
.project_main .project_main_content .contact{
    padding:1.1rem 1.6rem;
    border-radius: 5px;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.875rem;
    text-align: left;
    color: #FFFFFF;
    background: #006CE7;
    text-decoration: none;
}

section .project_content_details{
    width: 75%;
    margin-left: 12.5%;
    margin-top: 3.2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
section .project_content_details .content_details{
    width: 71.181%;

}

section .project_content_details .content_details p{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    text-align: justify;
    color: #4D4D4D;
    margin-bottom: 3.2rem;
}
section .project_content_details .content_details img{
    width: 92.878%;
    height: 53.49rem;
    margin-bottom: 2.885rem;
    border-radius: 5px;
}



section .project_content_details .project_relative{
    width: 23.75%;
}

section .project_content_details .project_relative .title-relative{
    font-size: 3rem;
    font-weight: 900;
    line-height: 3.516rem;
    text-align: left;
    color: #4D4D4D;
    text-transform: uppercase;
    margin-bottom: 2.4rem;
}

/* Dự án liên quan  */
section .list-project{
    width: 100%;
    /* margin-left: 12.5%; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* margin-top: 7.2rem; */
}

section .list-project .project{
    width: 100%;
    height: 66rem;
    border-radius: 5px;
    background: #F1F7FF;
    margin-bottom: 3.2rem;
    position: relative;
}
section .list-project .project .project-img{
    width: 100%;
    height: 25.6rem;
}
section .list-project .project .project-img img{
    border-radius: 5px 5px 0px 0px;
}
section .list-project .project .project-title{
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.8rem;
    text-align: justify;
    color: #4D4D4D;
    margin: 1.6rem 1.6rem 0.8rem 1.6rem;
    text-transform: uppercase;
}
section .list-project .project ul li{
    list-style-type: disc;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.3rem;
    text-align: justify;
    color: #4D4D4DB2;
    margin: 0rem 1.6rem 1.3rem 1.6rem;
}
section .list-project .project ul li span{
    font-weight: 700;
}

section .list-project .project a{
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.875rem;
    text-align: left;
    position: absolute;
    left:1.6rem;
    bottom: 1.6rem;
    color: #00C2FF;
}

section{
    margin-bottom: 4.8rem;
}