<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../CSS/layout.css">
    <link rel="stylesheet" href="../CSS/header.css">
    <link rel="stylesheet" href="../CSS/header_footer_responsive.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <div class="first">
            <div class="first-img">
                <img class="w-100" src="../images/logo-ami 1.png" alt="logo-ami">
            </div>
            <form action="">
                <input type="text" placeholder="Nhập nội  dung đang tìm kiếm">
                <button class="btn-search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
            <div class="flag">
                <img class="w-100" src="../images/Ellipse 41.png" alt="flag-img">
            </div>
            <div class="country-name">
                Việt Nam
                <i class="fa-solid fa-caret-down"></i>
            </div>
            <div class="recruit">
                Tuyển dụng
            </div>
        </div>
        <nav class="navbar">
            <input type="checkbox" id="check">
            <label for="check" class="navbar-icon">
                <i class="fa-solid fa-bars menu-icon" id="menu-icon"></i>
                <i class="fa-solid fa-xmark close-icon" id="close-icon"></i>
            </label>
            <div class="nav">
                <a href="#">Trang chủ</a>
                <a href="#">
                    Giới thiệu
                    <i class="fa-solid fa-caret-down"></i>
                </a>
                <a href="#">Dự án tiêu biểu</a>
                <a href="#">Giải pháp chuyển đổi số
                    <i class="fa-solid fa-caret-down"></i>
                </a>
                <a href="#">
                    Thiết bị & sản phẩm công nghiệp
                    <i class="fa-solid fa-caret-down"></i>
                </a>
                <a href="#">
                    Tin tức và sự kiến
                </a>
                <a href="#">
                    Báo giá
                </a>
                <a href="#">
                    Liên hệ
                </a>
            </div>
             
        </nav>
    </header>
</body>
</html>