<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../CSS/home.css">
    <link rel="stylesheet" href="../CSS/layout.css">
    <link rel="stylesheet" href="../CSS/home_product.css">
    <link rel="stylesheet" href="../CSS/home_projects.css">
    <link rel="stylesheet" href="../CSS/home_news_event.css">
    <link rel="stylesheet" href="../CSS/footer.css">
    <link rel="stylesheet" href="../CSS/home_responsive.css">

</head>

<body>
    <header>
        <div class="first">
            <div class="Lien_he">
                <i class="fa-solid fa-phone phone"></i><span class="phone_number">0979 796 584</span><span
                    class="dau_cach">|</span>
                <i class="fa-solid fa-phone phone"></i><span class="phone_number">(024) 22 33 55 66</span><span
                    class="dau_cach">|</span>
                <i class="fa-solid fa-envelope mail"></i><span class="mail-address">contact@amitech.vn</span>
            </div>
            <div class="form">
                <form action="">
                    <input type="text" placeholder="Nhập nội dung tìm kiếm...">
                    <button>
                        <i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i>
                    </button>
                </form>
            </div>
            <div class="khac">
                <div class="EN margin-right"><span class="VN">VN</span> - EN</div><span class="dau_cach">|</span>
                <div class="lien_he margin-right">Liên hệ</div><span class="dau_cach">|</span>
                <div class="tuyen_dung">Tuyển dụng</div>
            </div>
        </div>
        <nav>
            <div class="app_Name">
                <h6 class="first-child">A M I T E C H</h6>
                <h6 class="last-child">. . . . . . .</h6>
            </div>
            <input type="checkbox" id="check">
            <label for="check" class="navbar-icon">
                <i class="fa-solid fa-bars menu-icon" id="menu-icon"></i>
                <i class="fa-solid fa-xmark close-icon" id="close-icon"></i>
            </label>
            <ul class="nav">
                <li class="trang_chu">
                   <a href="#">Trang chủ</a> 
                </li>
                <li class="ml-32">
                    <a href="#">
                        Giới thiệu
                        <i class="fa-solid fa-caret-down"></i>
                    </a>
                </li>
                <li class="ml-32">
                    <a href="#">
                         Dự án tiêu biểu
                    </a>
                </li>
                <li class="ml-32">
                    <a href="#">
                        Giải pháp chuyển đổi số
                        <i class="fa-solid fa-caret-down"></i>
                    </a>
                </li>
                <li class="ml-32">
                    <a href="#">
                        Thiết bị & sản phẩm công nghiệp
                        <i class="fa-solid fa-caret-down"></i>
                    </a>
                </li>
                <li class="ml-32">
                    <a href="#">
                        Tin tức và sự kiện
                    </a> 
                </li>
                <li class="ml-32">
                    <a href="#"> Báo giá</a>
                </li>
            </ul>

        </nav>
    </header>
    <section>
        <div class="banner">
            <div class="banner-img">
                <img class="w-100" src="../images/home/banner 1.png" alt="banner img">
            </div>
            <div class="content">
                <p class="title-content">chuyển đổi số</p>
                <p class="content1">Amitech cung cấp các giải pháp hàng đầu giúp doanh nghiệp chuyển đổi số toàn diện,
                    nhanh chóng, tiết kiệm, hiệu quả</p>
            </div>
        </div>
        <div class="introduce_amitech">
            <div class="title">
                Giới thiệu về Amitech
            </div>
            <div class="intro">
                <span class="Ami">AMITECH - </span>
                <span class="Cong_ty_co_phan"> Công ty cổ phần giải pháp Công nghệ Ami Việt Nam với Đam mê và Khao khát
                    trở thành một Công ty Công nghệ hàng đầu khu vực trong lĩnh vực Ứng dụng Công nghệ trong Quản lý và
                    Sản Xuất Công Nghiệp.</span>
            </div>
            <div class="intro-img">
                <img class="w-100" src="../images/home/Mask group.png" alt="intro amitech img">
            </div>
            <div class="partition">
                <p class="partition_1"></p>
                <p class="partition_2"></p>
            </div>
           
            <div class="topic">
                <div class="topic_1 tp">
                    Điểm ưu việt
                </div>
                <div class="content_topic1">
                    <ul>
                        <li>Ứng dụng công nghệ tiên tiến, hiện đại nhất hiện nay</li>
                        <li> Dễ dàng tích hợp, trao đổi dữ liệu với các hệ thống khác</li>
                        <li> Vận hành hổn định trên mọi thiết bị đầu cuối</li>
                    </ul>
                </div>
                <div class="topic_2 tp">
                    Sản phẩm chất lượng
                </div>
                <div class="topic_3 tp">
                    Tư vấn, hỗ trợ
                </div>
            </div>
            <div class="button">
                <button class="btn btn_1">
                    Tìm hiểu thêm
                </button>
                <button class="btn btn_2">
                    Tải Hồ sơ Năng lực
                </button>
            </div>
        </div>
        <div class="solution">
            <div class="title">
                Giải pháp chuyển đổi số
            </div>
            <div class="intro_solution">
                Amitech cung cấp các giải pháp chuyển đổi số hàng đầu, giúp doanh nghiệp chuyển đổi số toàn diện, nhanh
                chóng, tiết kiệm
            </div>
            <div class="list_solution">
                <div class="solution_1">
                    <div class="title title1">
                        Quản lý Năng lượng - iNERGY
                    </div>
                    <div class="content">
                        Phần mềm thông minh, chuyên nghiệp, hiện đại được tư vấn thiết kế bởi các chuyên gia Quản lý
                        Năng lượng, hỗ trợ công...chuyên gia Quản lý Năng lượng, hỗ trợ công...chuyên gia Quản lý Năng
                        lượng, hỗ trợ công...
                    </div>
                    <a href="#">Xem chi tiết
                        <i class="fa-solid fa-angles-right"></i>
                    </a>
                </div>
                <div class="solution_2">
                    <div class="img-solution">
                        <img class="w-100" src="../images/home/solution_2.png" alt="solution2">
                    </div>
                    <div class="overlay">
                    </div>
                    <div class="title title2">
                        Giám sát máy sản xuất - AMWORKING
                    </div>
                </div>
                <div class="solution_2">
                    <div class="img-solution">
                        <img class="w-100" src="../images/home/solution_3.png" alt="solution3">
                    </div>
                    <div class="overlay">
                    </div>
                    <div class="title title2">
                        Giám sát máy sản xuất - AMWORKING
                    </div>
                </div>
                <div class="solution_2">
                    <div class="img-solution">
                        <img class="w-100" src="../images/home/solution_4.png" alt="solution4">
                    </div>
                    <div class="overlay">
                    </div>
                    <div class="title title2">
                        Giám sát máy sản xuất - AMWORKING
                    </div>
                </div>
                <div class="solution_2">
                    <div class="img-solution">
                        <img class="w-100" src="../images/home/solution_5.png" alt="solution5">
                    </div>
                    <div class="overlay">
                    </div>
                    <div class="title title2">
                        Giám sát máy sản xuất - AMWORKING
                    </div>
                </div>
                <div class="solution_2">
                    <div class="img-solution">
                        <img class="w-100" src="../images/home/solution_6.png" alt="solution6">
                    </div>
                    <div class="overlay">
                    </div>
                    <div class="title title2">
                        Giám sát máy sản xuất - AMWORKING
                    </div>
                </div>
                <div class="solution_2">
                    <div class="img-solution">
                        <img class="w-100" src="../images/home/solution_7.png" alt="solution7">
                    </div>
                    <div class="overlay">
                    </div>
                    <div class="title title2">
                        Giám sát máy sản xuất - AMWORKING
                    </div>
                </div>
                <div class="solution_2">
                    <div class="img-solution">
                        <img class="w-100" src="../images/home/solution_8.png" alt="solution8">
                    </div>
                    <div class="overlay">
                    </div>
                    <div class="title title2">
                        Giám sát máy sản xuất - AMWORKING
                    </div>
                </div>

            </div>
            <button class="all_solution">
                Xem tất cả
                <i class="fa-solid fa-angles-right"></i>
            </button>
        </div>
        <div class="equip_product_home">
            <div class="equip_product_title title_Roboto">
                Thiết bị và sản phẩm công nghiệp
            </div>
            <div class="equip_product_content">
                Amitech cung cấp các giải pháp tiết kiệm Năng Lượng, giúp cho Doanh nghiệp giám sát tiêu thụ năng lượng,
                tiết kiệm thời gian và chi phí sử dụng, giảm phát thải, bảo vệ môi trường...
            </div>
            <div class="list_equip_product">
                <div class="equip_product equip bg1">
                    <h4>Thiết bị giám sát điện</h4>
                    <h6>MITSUBISHI: POWER METER</h6>
                    <p>Các thiết bị giám sát năng lượng hỗ trợ đo lường, thu thập và phân tích mức tiêu thụ năng lượng,
                        đạt ...</p>
                    <button class="view_all">
                        Xem tất cả
                        <i class="fa-solid fa-angles-right"></i>
                    </button>
                </div>
                <div class="equip_product product">
                    <div class="background-img">
                        <img class="w-100 h_256" src="../images/home/product1.png" alt="product1">
                    </div>
                    <div class="title_product bg1">
                        <p>Máy chủ thu thập dữ liệu tiết kiệm Năng lượng</p>
                    </div>
                </div>
                <div class="equip_product product">
                    <div class="background-img">
                        <img class="w-100 h_256" src="../images/home/product2.png" alt="product2">
                    </div>
                    <div class="title_product bg1">
                        <p> Thiết bị đo Năng Lượng - EcoMonitorPlus</p>

                    </div>
                </div>
                <div class="equip_product product">
                    <div class="background-img">
                        <img class="w-100 h_256" src="../images/home/product3.png" alt="product3">
                    </div>
                    <div class="title_product bg1">
                        <p>Thiết bị đo Năng Lượng - EcoMonitorLight</p>
                    </div>
                </div>
                <!-- <-- bg2 -->
                <div class="equip_product equip bg2">
                    <h4>Thiết bị giám sát khí nén</h4>
                    <h6>CS INSTRUMENTS: AIR FLOW METER</h6>
                    <p class="mt-3">Các thiết bị giám sát năng lượng hỗ trợ đo lường, thu thập và phân tích mức tiêu thụ
                        năng
                        lượng, đạt ...</p>
                    <button class="view_all bg2">
                        Xem tất cả
                        <i class="fa-solid fa-angles-right"></i>
                    </button>
                </div>
                <div class="equip_product product">
                    <div class="background-img">
                        <img class="w-100 h_256" src="../images/home/product4.png" alt="product4">
                    </div>
                    <div class="title_product bg2">
                        <p>Đồng hồ đo lưu lượng khí nén</p>

                    </div>
                </div>
                <div class="equip_product product">
                    <div class="background-img">
                        <img class="w-100 h_256" src="../images/home/product5.png" alt="product5">
                    </div>
                    <div class="title_product bg2">
                        <p>Cảm biến siêu âm xoáy đo lưu lượng</p>

                    </div>
                </div>
                <div class="equip_product product">
                    <div class="background-img">
                        <img class="w-100 h_256" src="../images/home/product6.png" alt="product6">
                    </div>
                    <div class="title_product bg2">
                        <p>Cảm biến lưu lượng khí nén ướt</p>
                    </div>
                </div>

                <!-- bg3 -->

                <div class="equip_product equip bg3">
                    <h4>Thiết bị giám sát tiêu thụ nước</h4>
                    <h6>EMS: WATER METER</h6>
                    <p>Các thiết bị giám sát năng lượng hỗ trợ đo lường, thu thập và phân tích mức tiêu thụ năng
                        lượng, đạt ...</p>
                    <button class="view_all bg3">
                        Xem tất cả
                        <i class="fa-solid fa-angles-right"></i>
                    </button>
                </div>
                <div class="equip_product product">
                    <div class="background-img">
                        <img class="w-100 h_256" src="../images/home/product7.png" alt="product7">
                    </div>
                    <div class="title_product bg3">
                        <p>Đồng hồ nước woltmann kỹ thuật số Hybrid</p>
                    </div>
                </div>
                <div class="equip_product product">
                    <div class="background-img">
                        <img class="w-100 h_256" src="../images/home/product8.png" alt="product8">
                    </div>
                    <div class="title_product bg3">
                        <p>Đồng hồ đo lưu lượng đa phương tiện kỹ thuật số</p>
                    </div>
                </div>
                <div class="equip_product product">
                    <div class="background-img">
                        <img class="w-100 h_256" src="../images/home/product9.png" alt="product9">
                    </div>
                    <div class="title_product bg3">
                        <p> Máy đo lưu lượng thông minh siêu âm Clamp-On</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="project_home">
            <div class="title_project  title_Roboto">
                Dự án tiêu biểu
            </div>
            <div class="list_project">
                <div class="project">
                    <div class="project-img">
                        <img class="w-100" src="../images/home/product1.png" alt="project1">
                    </div>
                    <p>
                        Cung cấp Thiết bị mới thuộc đề tài "Nghiên cứu thiết kế, chế tạo hệ thống quản lý, vận hành cung
                        cấp điện thông minh phù hợp...
                    </p>
                    <ul class="project-content">
                        <li>
                            Tên khách hàng: <span>Viện Khoa học Công nghệ Mỏ - VINACOMIN</span>
                        </li>
                        <li>
                            Địa điểm thực hiện: <span>Công ty CP Chế tạo máy - Vinacomin, số 486, đường Trần Phú, phường
                                Cẩm Thuỷ, TP Cẩm Phả, tỉnh Quảng Ninh, Việt Nam</span>
                        </li>
                        <li>
                            Thời gian thực hiện: <span>2023</span>
                        </li>
                    </ul>
                    <a>
                        Xem chi tiết
                        <i class="fa-solid fa-angles-right"></i>
                    </a>
                </div>
                <div class="project">
                    <div class="project-img">
                        <img class="w-100" src="../images/home/product2.png" alt="project2">
                    </div>
                    <p>
                        Lắp đặt điện khí nước cho khu vực kiểm tra và Kyoso Lab
                    </p>
                    <ul class="project-content">
                        <li>
                            Tên khách hàng: <span>Công ty TNHH Việt Nam KANDENKO</span>
                        </li>
                        <li>
                            Địa điểm thực hiện: <span>Hà Nội</span>
                        <li>
                            Thời gian thực hiện: <span>2023</span>
                        </li>
                    </ul>
                    <a>
                        Xem chi tiết
                        <i class="fa-solid fa-angles-right"></i>
                    </a>
                </div>
                <div class="project">
                    <div class="project-img">
                        <img class="w-100" src="../images/home/product3.png" alt="project3">
                    </div>
                    <p>
                        Lập Báo cáo mô phỏng hệ thống chân không bình ngưng và tháp làm mát Nhà máy nhiệt điện Mạo Khê
                    </p>
                    <ul class="project-content">
                        <li>
                            Tên khách hàng: <span>Công ty Nhiệt điện Đông Triều - TKV- Chi nhánh TCT Điện lực TKV –
                                CTCP</span>
                        </li>
                        <li>
                            Địa điểm thực hiện: <span>Nhà máy nhiệt điện Mạo Khê</span>
                        </li>
                        <li>
                            Thời gian thực hiện: <span>2023</span>
                        </li>
                    </ul>
                    <a>
                        Xem chi tiết
                        <i class="fa-solid fa-angles-right"></i>
                    </a>
                </div>
                <div class="project">
                    <div class="project-img">
                        <img class="w-100" src="../images/home/product4.png" alt="project4">
                    </div>
                    <p>
                        Xây dựng bổ sung các phân hệ, chức năng của phần mềm quản lý máy biến áp
                    </p>
                    <ul class="project-content">
                        <li>
                            Tên khách hàng: <span>Công ty Công nghệ thông tin Điện lực miền Bắc – Chi nhánh Tổng công ty
                                Điện lực miền Bắc</span>
                        </li>
                        <li>
                            Địa điểm thực hiện: <span>Hà Nội</span>
                        </li>
                        <li>
                            Thời gian thực hiện: <span>2023</span>
                        </li>
                    </ul>
                    <a>
                        Xem chi tiết
                        <i class="fa-solid fa-angles-right"></i>
                    </a>
                </div>
            </div>
            <div class="view_all_project">
                <a href="#"> Xem tất cả
                    <i class="fa-solid fa-angles-right"></i></a>
            </div>
        </div>
        <div class="news_event">
            <div class="title_news_event title_Roboto">
                tin tức và sự kiện
            </div>

            <div class="news_main">
                <div class="news_main_img">
                    <img class="w-100" src="../images/home/news1.png" alt="news1">
                </div>
                <p class="news_Amitech">Tin hoạt động của AMITECH</p>
                <p class="title">
                    Ứng dụng phần mềm iNERGY AMS20 trong quản lý năng lượng
                </p>
                <p class="news_content">
                    Trong khuôn khổ các hoạt động của triển lãm quốc tế công nghệ năng lượng - môi trường Hà Nội năm
                    2022, nhiều giải pháp công nghệ đã được giới thiệu đến các doanh nghiệp, trong đó có giải pháp về hệ
                    thống phần mềm quản lý năng lượng...
                </p>
                <a href="#">
                    Xem chi tiết
                    <i class="fa-solid fa-angles-right"></i>
                </a>
            </div>

            <div class="list_news">
                <div class="news mb-15">
                    <div class="news_img">
                        <img class="w-100" src="../images/home/news2.png" alt="news2">
                    </div>
                    <p class="news_action">Tin hoạt động của AMITECH</p>
                    <p class="title_news">
                        AMITECH trở thành đối tác chính thức của MITSUBISHI ELECTRIC VIETNAM
                    </p>
                    <a href="#">
                        Xem chi tiết
                        <i class="fa-solid fa-angles-right"></i>
                    </a>
                </div>
                <div class="news">
                    <div class="news_img">
                        <img class="w-100" src="../images/home/news3.png" alt="news3">
                    </div>
                    <p class="news_action">Tin hoạt động của AMITECH</p>
                    <p class="title_news">
                        AMITECH tham gia Hội chợ ENTECH Hà Nội 2023
                    </p>
                    <a href="#">
                        Xem chi tiết
                        <i class="fa-solid fa-angles-right"></i>
                    </a>
                </div>
                <div class="news">
                    <div class="news_img">
                        <img class="w-100" src="../images/home/news3.png" alt="news3">
                    </div>
                    <p class="news_action">Tin hoạt động của AMITECH</p>
                    <p class="title_news">
                        Quản lý năng lượng iNERGY
                    </p>
                    <a href="#">
                        Xem chi tiết
                        <i class="fa-solid fa-angles-right"></i>
                    </a>
                </div>
                <div class="news">
                    <div class="news_img">
                        <img class="w-100" src="../images/home/news4.png" alt="news4">
                    </div>
                    <p class="news_action">Tin hoạt động của AMITECH</p>
                    <p class="title_news">
                        Thương thảo hợp đồng triển khai giải pháp iNergy kết hợp khảo sát các vị trí lắp đặt thiết bị
                    </p>
                    <a href="#">
                        Xem chi tiết
                        <i class="fa-solid fa-angles-right"></i>
                    </a>
                </div>
            </div>
            <div class="button_news_event">
                <a href="#">
                    Xem tất cả
                    <i class="fa-solid fa-angles-right"></i>
                </a>
            </div>

        </div>

    </section>
    <footer>
        <div class="customer_home">
            <div class="title_customer title_Roboto">
                Đối tác và khách hàng
            </div>
            <div class="list-customer">
                <div class="customer">
                    <img class="w-80" src="../images/home/cus1.png" alt="cus1">
                </div>
                <div class="customer">
                    <img class="w-80" src="../images/home/cus2.png" alt="cus2">
                </div>
                <div class="customer">
                    <img class="w-80" src="../images/home/cus3.png" alt="cus3">
                </div>
                <div class="customer">
                    <img style="width: 40%;" src="../images/home/cus4.png" alt="cus4">
                </div>
                <div class="customer">
                    <img class="w-80" src="../images/home/cus5.png" alt="cus5">
                </div>
                <div class="customer">
                    <img  class="w-80" src="../images/home/cus6.png" alt="cus6">
                </div>
            </div>
        </div>

        <div class="home_footer">
            <div class="content_footer footer-position">
                <div class="col1">
                    <div class="company_name">
                        <a href="#"><img class="w-100" src="../images/home/logo-ami 2.png" alt="logo-ami"> </a>
                    </div>
                    <a class="address">
                        <i class="fa-solid fa-location-dot"></i>
                        <span class="">
                            Trụ sở chính
                        </span>
                        <p>
                            Tầng 4, Tòa nhà Sông Đà 9, Số 2 Nguyễn Hoàng, Mỹ Đình, Nam Từ Liêm, Hà Nội
                        </p>
                    </a>
                </div>
                <div class="col2">
                    <div class="phone">
                        <span>
                            Điện thoại
                        </span>
                        <p>024 22 33 55 66</p>
                    </div>
                    <div class="Hotline">
                        <i class="fa-solid fa-phone"></i>
                        <span>Hotline</span>
                        <p>0986 893 233</p>
                    </div>
                    <div class="email">
                        <i class="fa-solid fa-envelope"></i>
                        <span>Email</span>
                        <p>contact@amitech.vn</p>
                    </div>
                </div>
                <div class="col3">
                    <div>
                        <a class="row">
                            <i class="fa-solid fa-angle-right"></i>
                            <span>Giới thiệu
                            </span>
                        </a>
                    </div>
                    <div>
                        <a class="row">
                            <i class="fa-solid fa-angle-right"></i>
                            <span>
                                Giải pháp chuyển đổi số
                            </span>
                        </a>
                    </div>
                    <div><a class="row">
                            <i class="fa-solid fa-angle-right"></i>
                            <span>
                                Thiết bị và sản phẩm công nghiệp
                            </span>
                        </a>
                    </div>
                    <div><a class="row">
                            <i class="fa-solid fa-angle-right"></i>
                            <span>
                                Báo giá
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col4">
                    <div>
                        <a class="row">
                            <i class="fa-solid fa-angle-right"></i>
                            <span>Tuyển dụng

                            </span>
                        </a>
                    </div>
                    <div>
                        <a class="row">
                            <i class="fa-solid fa-angle-right"></i>
                            <span>
                                Hình ảnh hoạt động
                            </span>
                        </a>
                    </div>
                    <div>
                        <a class="row">
                            <i class="fa-solid fa-angle-right"></i>
                            <span>
                                Cam kết
                            </span>
                        </a>
                    </div>
                    <div>
                        <a class="row">
                            <i class="fa-solid fa-angle-right"></i>
                            <span>
                                Chính sách bảo mật
                            </span>
                        </a>
                    </div>

                </div>
            </div>
        </div>

        <div class="form_register">
            <div class="register">
                <div class="title_form">
                    Đăng ký nhận tư vấn miễn phí
                </div>
                <div class="img">
                    <img class="w-100" src="../images/home/gircontactl 3.png" alt="gircontactl">
                </div>
                <form action="">
                    <input type="text" placeholder="Họ tên *">
                    <input type="number" placeholder="Số điện thoại *">
                    <input type="email" placeholder="Email *">
                    <input type="text" placeholder="Công ty *">
                    <button class="btn_register">Nhận tư vấn miễn phí</button>
                </form>
            </div>

        </div>
    </footer>
</body>

</html>