<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giới thiệu</title>
    <link rel="stylesheet" href="../CSS/layout.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../CSS/header.css">
    <link rel="stylesheet" href="../CSS/introduce.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../CSS/carousel.css">
    <link rel="stylesheet" href="../CSS/footer.css">
    <link rel="stylesheet" href="../CSS/header_footer_responsive.css">
    <link rel="stylesheet" href="../CSS/introduce_responsive.css">
</head>

<body>
    <header>
        <div class="first">
            <div class="first-img">
                <img class="w-100" src="../images/logo-ami 1.png" alt="logo-ami">
            </div>
            <form action="">
                <input type="text" placeholder="Nhập nội  dung đang tìm kiếm">
                <button class="btn-search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
            <div class="flag">
                <img class="w-100" src="../images/Ellipse 41.png" alt="flag-img">
            </div>
            <div class="country-name">
                Việt Nam
                <i class="fa-solid fa-caret-down"></i>
            </div>
            <div class="recruit">
                Tuyển dụng
            </div>
        </div>
        <nav class="navbar">
            <input type="checkbox" id="check">
            <label for="check" class="navbar-icon">
                <i class="fa-solid fa-bars menu-icon" id="menu-icon"></i>
                <i class="fa-solid fa-xmark close-icon" id="close-icon"></i>
            </label>
            <div class="nav">
                <a href="#">Trang chủ</a>
                <a href="#">
                    Giới thiệu
                    <i class="fa-solid fa-caret-down"></i>
                </a>
                <a href="#">Dự án tiêu biểu</a>
                <a href="#">Giải pháp chuyển đổi số
                    <i class="fa-solid fa-caret-down"></i>
                </a>
                <a href="#">
                    Thiết bị & sản phẩm công nghiệp
                    <i class="fa-solid fa-caret-down"></i>
                </a>
                <a href="#">
                    Tin tức và sự kiến
                </a>
                <a href="#">
                    Báo giá
                </a>
                <a href="#">
                    Liên hệ
                </a>
            </div>
             
        </nav>
    </header>

    <section class="section-1">
        <div class="banner">
            <div class="banner-img">
                <img class="w-100 h-100" src="../images/Introduce/banner-img (2).png" alt="banner-img">
            </div>
            <div class="overlay">

            </div>
            <div class="content">
                <h1>Công ty Cổ phần Giải pháp Công nghệ AMI Việt Nam (AMITECH)</h1>
                <p>AMITECH cung cấp các dịch vụ về Quản lý năng lượng và Chuyển đổi số trong lĩnh vực quản lý năng
                    lượng, giảm phát thải khí nhà kính. AMITECH có đội ngũ cán bộ, kỹ sư có trình độ cao, tay nghề vững,
                    những người hàng ngày đang thực hiện dự án và cung cấp dịch vụ kỹ thuật cho khách hàng. AMITECH tự
                    hào là Nhà cung cấp giải pháp của ….. và của các nhà cung cấp có uy tín ……</p>
            </div>
        </div>
        <div class="list-img-ami">
            <div class="ami-img">
                <img class="w-100" src="../images/Introduce/ami-img-1.png" alt="ami-img-1">
            </div>
            <div class="ami-img">
                <img class="w-100" src="../images/Introduce/ami-img-2.png" alt="ami-img-2">
            </div>
            <div class="ami-img">
                <img class="w-100" src="../images/Introduce/ami-img-3.png" alt="ami-img-3">
            </div>
            <div class="ami-img">
                <img class="w-100" src="../images/Introduce/ami-img-4.png" alt="ami-img-4">
            </div>
        </div>
        <div class="intro-ami">
            <div class="background-img-intro">
                <img class="w-100 h-100" src="../images/Introduce/background-intro-ami.png" alt="background-intro-ami">
            </div>
            <div class="category">
                <a href="#">Giới thiệu</a>
                <a href="#">Sứ mệnh - Tầm nhìn - Giá trị cốt lõi</a>
                <a href="#">Hình ảnh hoạt động</a>
                <a href="#">Chứng nhận/ Chứng chỉ</a>
                <a href="#">Tuyển dụng</a>
            </div>
            <div class="title_Roboto title_intro">
                Giới thiệu về Amitech
            </div>
            <div class="content">
                <iframe src="https://www.youtube.com/embed/YZ17HSVX2Cw?si=rZQfyLD4YeMHDZp6" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <p>
                    Công ty cổ phần Giải pháp Công nghệ AMI Việt Nam được thành lập từ năm 2011.
                    <br><br>
                    Với nhiều năm kinh nghiệm trong việc cung cấp các dịch vụ về Quản lý năng lượng và Chuyển đổi số
                    trong lĩnh vực quản lý năng lượng, giảm phát thải khí nhà kính. Chúng tôi đã tham gia và đang là
                    thành viên tích cực của các dự án Chương trình mục tiêu Quốc gia, Bộ Công thương, Bộ Tài nguyên và
                    Môi trường và các tổ chức quốc tế: GIZ, WWF, WB, ADB, JICA,.. cũng như Tư vấn cho các tập đoàn công
                    nghiệp, nhà máy sản xuất trong cả nước.
                    <br><br> Với đội ngũ cán bộ, kỹ sư có trình độ chuyên môn kỹ thuật, tay nghề cao. Hàng năm chúng tôi
                    thường xuyên tổ chức các đợt tập huấn để nâng cao giá trị nhân lực của Công ty. Song song với việc
                    đào tạo và phát triển nhân lực, việc tiếp thu khoa học kỹ thuật và dây chuyền sản xuất, công nghệ
                    lắp dựng mới là một vấn đề đặc biệt được chú trọng. Và chúng tôi luôn nỗ lực hết mình để tạo ra
                    những sản phẩm hoàn hảo nhất, cung cấp dịch vụ với chất lượng cao nhất giúp các doanh nghiệp thực
                    hiện tốt việc việc sử dụng năng lượng tiết kiệm và hiệu quả, giảm phát thải trong sản xuất, giảm chi
                    phí sản xuất tăng tính cạnh tranh cho doanh nghiệp và tạo hình ảnh “Doanh nghiệp xanh”. Đóng góp một
                    phần vào công cuộc công nghiệp hóa, hiện đại hóa của đất nước.
                </p>
            </div>
            <a href="#" class="btn-intro">
                Tải Hồ sơ Năng lực
            </a>
        </div>
    </section>

    <section>
        <div class="views">
            <div class="title_Roboto title_views">
                sứ mệnh - tầm nhìn - giá trị cốt lõi
            </div>
            <div class="content_views">
                <div class="views-img">
                    <img class="w-100"src="../images/Introduce/views_img1.png" alt="View-img1">
                </div>
                <div class="content">
                    <div class="su_menh">
                        <div class="su_menh_img content_img">
                            <img src="../images/Introduce/mission.png" alt="mission_img">
                        </div>
                        <div class="su_menh_content">
                            <h4>Sứ mệnh</h4>
                            <p>Mang theo làn sóng công nghệ mới trong cuộc cách mạng công nghệ 4.0, nỗ lực phát triển
                                những Sản phẩm - Dịch vụ - Giải pháp Công nghệ Chất lượng cao "Make in Vietnam", đem lại
                                những giá trị vượt trội cho Khách hàng, góp phần xây dựng một Việt Nam hùng cường. </p>
                        </div>
                    </div>
                    <div class="tam_nhin">
                        <div class="tam_nhin_img content_img">
                            <img src="../images/Introduce/views.png" alt="views_img">
                        </div>
                        <div class="tam_nhin_content">
                            <h4>Tầm nhìn</h4>
                            <p>Trở thành một Công ty Công nghệ hàng đầu khu vực trong lĩnh vực Ứng dụng Công nghệ trong
                                Quản lý và Sản xuất Công nghiệp.</p>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="gia_tri">
                        <div class="gia_tri_img content_img">
                            <img src="../images/Introduce/value.png" alt="value_img">
                        </div>
                        <div class="gia_tri_content">
                            <h4>Giá trị cốt lõi</h4>
                            <ul>
                                <li>
                                    <span>Tin cậy:</span>
                                    <span> Các nền tảng, sản phẩm và dịch vụ AMITECH mang lại cho khách hàng đều có độ tin cậy cao, con người AMITECH với tri thức và văn hóa cao luôn mang lại cho khách hàng cảm giác tin cậy trong giao dịch và chuyển giao tri thức, công nghệ.</span>
                                </li>
                                <li>
                                    <span>Tiện ích: </span>
                                    <span> Các nền tảng, sản phẩm và dịch vụ AMITECH luôn thỏa mãn mọi yêu cầu nghiệp vụ của khách hàng. Khách hàng có thể dễ dàng tiếp cận và sử dụng nền tảng, sản phẩm, dịch vụ của AMITECH bất cứ khi nào, bất cứ nơi nào. Đội ngũ tư vấn, hỗ trợ khách hàng của AMITECH luôn sẵn sàng phục vụ 365 ngày/năm và 24 giờ/ngày.</span>
                                </li>
                                <li>
                                    <span>Tận tình:</span>
                                    <span> Con người AMITECH từ những người phát triển nền tảng, sản phẩm đến những người kinh doanh tư vấn và các bộ phận khác luôn luôn tận tâm, tận lực phục vụ vì lợi ích của khách hàng, làm cho khách hàng tin cậy và yêu mến như một người bạn, một người đồng hành trong sự nghiệp.</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="views-img">
                    <img class="w-100" src="../images/Introduce/views_img_2.png" alt="View-img2">
               </div>
            </div>
        </div>

        <div class="activity">
            <div class="title_Roboto title_activity">
                Hình ảnh hoạt động
            </div>
            <div class="carousel-activity">
                <div class="owl-carousel owl-theme ">
                    <div class="item">
                        <img src="../images/Introduce/carousel-img-1.png" alt="carousel-img-1">
                    </div>
                    <div class="item">
                        <img src="../images/Introduce/carousel-img-2.png" alt="carousel-img-2">
                    </div>
                    <div class="item">
                        <img src="../images/Introduce/carousel-img-3.png" alt="carousel-img-3">
                    </div>
                    <div class="item">
                        <img src="../images/Introduce/ami-img-1.png" alt="carousel-img-4">
                    </div>
                    <div class="item">
                        <img src="../images/Introduce/ami-img-2.png" alt="carousel-img-5">
                    </div>
                    <div class="item">
                        <img src="../images/Introduce/ami-img-3.png" alt="carousel-img-6">
                    </div>
                    <div class="item">
                        <img src="../images/Introduce/ami-img-4.png" alt="carousel-img-7">
                    </div>
                </div>

                <div class="content-carousel">
                    <p>Thứ Ba, 15/08/2023</p>
                    <h4>AMITECH tham gia Hội chợ ENTECH Hà Nội 2023</h4>
                    <a href="#" class="btn_carousel">
                        Xem tất cả
                        <i class="fa-solid fa-angles-right"></i>
                    </a>
                </div>
               
            </div>

        </div>

        <div class="certificate">
            <div class="title_Roboto title-certificate">
                chứng nhận/ chứng chỉ
            </div>
            <div class="certificate-carousel owl-carousel owl-theme">
                <div class="item">
                    <div class="img-carousel">
                        <img src="../images/Introduce/certificate_1.png" alt="certificate_1">
                    </div>
                    <div class="title">
                        <p>AMITECH trở thành đối tác chính thức của MITSUBISHI ELECTRIC VIETNAM</p>
                    </div>
                </div>
                <div class="item">
                    <div class="img-carousel">
                        <img src="../images/Introduce/certificate_2.png" alt="certificate_2">
                    </div>
                    <div class="title">
                        <p>Chứng chỉ Năng lượng tái tạo</p>
                    </div>
                </div>
                <div class="item">
                    <div class="img-carousel">
                        <img src="../images/Introduce/certificate_3.png" alt="certificate_3">
                    </div>
                    <div class="title">
                        <p>Thiết bị đo Năng Lượng - EcoMonitorLight</p>
                    </div>
                </div>
                <div class="item">
                    <div class="img-carousel">
                        <img src="../images/Introduce/certificate_4.png" alt="certificate_4">
                    </div>
                    <div class="title">
                        <p>Thiết bị đo Năng Lượng - EcoMonitorLight</p>
                    </div>
                </div>

                <div class="item">
                    <div class="img-carousel">
                        <img src="../images/Introduce/certificate_1.png" alt="certificate_1">
                    </div>
                    <div class="title">
                        <p>AMITECH trở thành đối tác chính thức của MITSUBISHI ELECTRIC VIETNAM</p>
                    </div>
                </div>
                <div class="item">
                    <div class="img-carousel">
                        <img src="../images/Introduce/certificate_2.png" alt="certificate_2">
                    </div>
                    <div class="title">
                        <p>Chứng chỉ Năng lượng tái tạo</p>
                    </div>
                </div>
                <div class="item">
                    <div class="img-carousel">
                        <img src="../images/Introduce/certificate_3.png" alt="certificate_3">
                    </div>
                    <div class="title">
                        <p>Thiết bị đo Năng Lượng - EcoMonitorLight</p>
                    </div>
                </div>
                <div class="item">
                    <div class="img-carousel">
                        <img src="../images/Introduce/certificate_4.png" alt="certificate_4">
                    </div>
                    <div class="title">
                        <p>Thiết bị đo Năng Lượng - EcoMonitorLight</p>
                    </div>
                </div>  

                <div class="item">
                    <div class="img-carousel">
                        <img src="../images/Introduce/certificate_1.png" alt="certificate_1">
                    </div>
                    <div class="title">
                        <p>AMITECH trở thành đối tác chính thức của MITSUBISHI ELECTRIC VIETNAM</p>
                    </div>
                </div>
                <div class="item">
                    <div class="img-carousel">
                        <img src="../images/Introduce/certificate_2.png" alt="certificate_2">
                    </div>
                    <div class="title">
                        <p>Chứng chỉ Năng lượng tái tạo</p>
                    </div>
                </div>
                <div class="item">
                    <div class="img-carousel">
                        <img src="../images/Introduce/certificate_3.png" alt="certificate_3">
                    </div>
                    <div class="title">
                        <p>Thiết bị đo Năng Lượng - EcoMonitorLight</p>
                    </div>
                </div>
                <div class="item">
                    <div class="img-carousel">
                        <img src="../images/Introduce/certificate_4.png" alt="certificate_4">
                    </div>
                    <div class="title">
                        <p>Thiết bị đo Năng Lượng - EcoMonitorLight</p>
                    </div>
                </div>  
                
            </div>
        </div>

        <div class="recruitment">
            <div class="title_Roboto title-recruitment">
                Tuyển dụng
            </div>
            <div class="recruitment-img">
                <img class="w-100 h-100" src="../images/Introduce/recruitment.png" alt="recruitment-img">
            </div>
            <div class="list_news_recruitment">
                <div class="news_recruitment">
                    <div class="recruitment-img">
                        <img class="w-100" src="../images/Introduce/recruitment/renews1.png" alt="">
                    </div>
                    <div class="content">
                        <p>Công nghệ thông tin</p>
                        <h4>Vận hành hệ thống – DEVOPS (VHHT)</h4>
                        <span class="so_luong">
                            <i class="fa-solid fa-user-group"></i>
                            <span>Số lượng: 01</span>
                        </span>
                        <span class="muc_luong">
                            <span>$</span>
                            <span>Mức lương: Thỏa thuận</span>
                        </span>
                        <span class="date">
                            <i class="fa-regular fa-calendar-days"></i>
                            <span>30/11/2023</span>
                        </span>
                    </div>
                </div>

                <div class="news_recruitment">
                    <div class="recruitment-img">
                        <img class="w-100" src="../images/Introduce/recruitment/renews2.png" alt="">
                    </div>
                    <div class="content">
                        <p>Thiết kế đồ họa</p>
                        <h4>Nhân viên thiết kế</h4>
                        <span class="so_luong">
                            <i class="fa-solid fa-user-group"></i>
                            <span>Số lượng: 01</span>
                        </span>
                        <span class="muc_luong">
                            <span>$</span>
                            <span>Mức lương: Thỏa thuận</span>
                        </span>
                        <span class="date">
                            <i class="fa-regular fa-calendar-days"></i>
                            <span>30/11/2023</span>
                        </span>
                    </div>
                </div>

                <div class="news_recruitment">
                    <div class="recruitment-img">
                        <img class="w-100" src="../images/Introduce/recruitment/renews3.png" alt="">
                    </div>
                    <div class="content">
                        <p>Công nghệ thông tin</p>
                        <h4>Senior/Leader Magento Developer</h4>
                        <span class="so_luong">
                            <i class="fa-solid fa-user-group"></i>
                            <span>Số lượng: 01</span>
                        </span>
                        <span class="muc_luong">
                            <span>$</span>
                            <span>Mức lương: Thỏa thuận</span>
                        </span>
                        <span class="date">
                            <i class="fa-regular fa-calendar-days"></i>
                            <span>30/11/2023</span>
                        </span>
                    </div>
                </div>

                <div class="news_recruitment">
                    <div class="recruitment-img">
                        <img class="w-100" src="../images/Introduce/recruitment/renews4.png" alt="">
                    </div>
                    <div class="content">
                        <p>Nhân sự</p>
                        <h4>Thực tập sinh tuyển dụng</h4>
                        <span class="so_luong">
                            <i class="fa-solid fa-user-group"></i>
                            <span>Số lượng: 01</span>
                        </span>
                        <span class="muc_luong">
                            <span>$</span>
                            <span>Mức lương: Thỏa thuận</span>
                        </span>
                        <span class="date">
                            <i class="fa-regular fa-calendar-days"></i>
                            <span>30/11/2023</span>
                        </span>
                    </div>
                </div>

                <div class="news_recruitment">
                    <div class="recruitment-img">
                        <img class="w-100" src="../images/Introduce/recruitment/renews5.png" alt="">
                    </div>
                    <div class="content">
                        <p>Bán hàng/Kinh doanh</p>
                        <h4>Nhân viên kinh doanh</h4>
                        <span class="so_luong">
                            <i class="fa-solid fa-user-group"></i>
                            <span>Số lượng: 01</span>
                        </span>
                        <span class="muc_luong">
                            <span>$</span>
                            <span>Mức lương: 10tr - 15tr</span>
                        </span>
                        <span class="date">
                            <i class="fa-regular fa-calendar-days"></i>
                            <span>30/11/2023</span>
                        </span>
                    </div>
                </div>

                <div class="news_recruitment">
                    <div class="recruitment-img">
                        <img class="w-100" src="../images/Introduce/recruitment/renews6.png" alt="">
                    </div>
                    <div class="content">
                        <p>Công nghệ thông tin</p>
                        <h4>Vận hành hệ thống – DEVOPS (VHHT)</h4>
                        <span class="so_luong">
                            <i class="fa-solid fa-user-group"></i>
                            <span>Số lượng: 01</span>
                        </span>
                        <span class="muc_luong">
                            <span>$</span>
                            <span>Mức lương: Thỏa thuận</span>
                        </span>
                        <span class="date">
                            <i class="fa-regular fa-calendar-days"></i>
                            <span>30/11/2023</span>
                        </span>
                    </div>
                </div>

            </div>

            <a href="#" class="btn_recruitment">
                Xem tất cả 
                <i class="fa-solid fa-angles-right"></i>
            </a>
        </div>

    </section>

    <footer>
            <div class="content_footer footer-position">
                <div class="col1">
                    <div class="company_name">
                        <a href="#"><img class="w-100" src="../images/home/logo-ami 2.png" alt="logo-ami"> </a>
                    </div>
                    <a class="address">
                        <i class="fa-solid fa-location-dot"></i>
                        <span class="">
                            Trụ sở chính
                        </span>
                        <p>
                            Tầng 4, Tòa nhà Sông Đà 9, Số 2 Nguyễn Hoàng, Mỹ Đình, Nam Từ Liêm, Hà Nội
                        </p>
                    </a>
                </div>
                <div class="col2">
                    <div class="phone">
                        <span>
                            Điện thoại
                        </span>
                        <p>024 22 33 55 66</p>
                    </div>
                    <div class="Hotline">
                        <i class="fa-solid fa-phone"></i>
                        <span>Hotline</span>
                        <p>0986 893 233</p>
                    </div>
                    <div class="email">
                        <i class="fa-solid fa-envelope"></i>
                        <span>Email</span>
                        <p>contact@amitech.vn</p>
                    </div>
                </div>
                <div class="col3">
                    <div>
                        <a class="row">
                            <i class="fa-solid fa-angle-right"></i>
                            <span>Giới thiệu
                            </span>
                        </a>
                    </div>
                    <div>
                        <a class="row">
                            <i class="fa-solid fa-angle-right"></i>
                            <span>
                                Giải pháp chuyển đổi số
                            </span>
                        </a>
                    </div>
                    <div><a class="row">
                            <i class="fa-solid fa-angle-right"></i>
                            <span>
                                Thiết bị và sản phẩm công nghiệp
                            </span>
                        </a>
                    </div>
                    <div><a class="row">
                            <i class="fa-solid fa-angle-right"></i>
                            <span>
                                Báo giá
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col4">
                    <div>
                        <a class="row">
                            <i class="fa-solid fa-angle-right"></i>
                            <span>Tuyển dụng

                            </span>
                        </a>
                    </div>
                    <div>
                        <a class="row">
                            <i class="fa-solid fa-angle-right"></i>
                            <span>
                                Hình ảnh hoạt động
                            </span>
                        </a>
                    </div>
                    <div>
                        <a class="row">
                            <i class="fa-solid fa-angle-right"></i>
                            <span>
                                Cam kết
                            </span>
                        </a>
                    </div>
                    <div>
                        <a class="row">
                            <i class="fa-solid fa-angle-right"></i>
                            <span>
                                Chính sách bảo mật
                            </span>
                        </a>
                    </div>

                </div>
            </div>
            
            <div class="copy">
                <p>Copy right by Amitech 2023</p>
            </div>
    </footer>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        $('.carousel-activity .owl-carousel').owlCarousel({
            loop:true,
            margin:10,
            nav:true,
            responsive:{
                0:{
                    items:1
                },
                600:{
                    items:2
                },
                1000:{
                    items:3
                }
            }
        })

        $('.certificate .owl-carousel').owlCarousel({
            loop:true,
            margin:10,
            nav:false,
            dots:true,
            responsive:{
                0:{
                    items:1
                },
                600:{
                    items:2
                },
                1000:{
                    items:4
                }
            }
        })
    </script>
</body>

</html>