<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tin tức</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../CSS/layout.css">
    <link rel="stylesheet" href="../CSS/home_news_event.css">
    <link rel="stylesheet" href="../CSS/news.css">
</head>
<body>

    <!-- header -->
     <header>
        <iframe src="../Views/header.html" width="100%" height="auto" frameborder="0"></iframe>
     </header>
    <!-- header -->

    <section>
        <div class="banner banner-news">
            <div class="banner-img">
                <img class="w-100 h-100" src="../images/news/background_news_img.png" alt="banner-img">
            </div>
            <div class="overlay">

            </div>
            <div class="content">
                <h1>tin tức và sự kiện</h1>
                <p>Cập nhật những thông tin mới nhất</p>
            </div>
        </div>
        <div class="content-page-news">
            <div class="category">
                <a href="#" class="bg-blue">Tất cả</a>
                <a href="#">Tin hoạt động của AMITECH</a>
                <a href="#">Tin tổng hợp</a>
            </div>
            <div class="news_event">
           
                <div class="news_main">
                    <div class="news_main_img">
                        <img class="w-100" src="../images/home/news1.png" alt="news1">
                    </div>
                    <p class="news_Amitech">Tin hoạt động của AMITECH</p>
                    <p class="title">
                        Ứng dụng phần mềm iNERGY AMS20 trong quản lý năng lượng
                    </p>
                    <p class="news_content">
                        Trong khuôn khổ các hoạt động của triển lãm quốc tế công nghệ năng lượng - môi trường Hà Nội năm
                        2022, nhiều giải pháp công nghệ đã được giới thiệu đến các doanh nghiệp, trong đó có giải pháp về hệ
                        thống phần mềm quản lý năng lượng...
                    </p>
                    <a href="#">
                        Xem chi tiết
                        <i class="fa-solid fa-angles-right"></i>
                    </a>
                </div>
    
                <div class="list_news">
                    <div class="news mb-15">
                        <div class="news_img">
                            <img class="w-100" src="../images/home/news2.png" alt="news2">
                        </div>
                        <p class="news_action">Tin hoạt động của AMITECH</p>
                        <p class="title_news">
                            AMITECH trở thành đối tác chính thức của MITSUBISHI ELECTRIC VIETNAM
                        </p>
                        <a href="#">
                            Xem chi tiết
                            <i class="fa-solid fa-angles-right"></i>
                        </a>
                    </div>
                    <div class="news">
                        <div class="news_img">
                            <img class="w-100" src="../images/home/news3.png" alt="news3">
                        </div>
                        <p class="news_action">Tin hoạt động của AMITECH</p>
                        <p class="title_news">
                            AMITECH tham gia Hội chợ ENTECH Hà Nội 2023
                        </p>
                        <a href="#">
                            Xem chi tiết
                            <i class="fa-solid fa-angles-right"></i>
                        </a>
                    </div>
                    
                </div>
    
                <div class="new_list_news">
                    <div class="title_new_list_news">
                        tin mới nhất
                    </div>
                    <div class="new_news">
                        <div class="title_new_news">
                            Tại sao cần xây dựng hệ thống phần mềm bảo trì, bảo dưỡng trong doanh nghiệp hiện nay?
                        </div>
                        <div class="type_news">
                            Tin tổng hợp
                        </div>
                    </div>
                    <div class="new_news">
                        <div class="title_new_news">
                            Chuyển đổi số cho doanh nghiệp: Tất cả những điều cần biết về chuyển đổi số
                        </div>
                        <div class="type_news">
                            Tin tổng hợp
                        </div>
                    </div>
                    <div class="new_news">
                        <div class="title_new_news">
                            Quản lý năng lượng là gì? Tìm hiểu chung về quản lý năng lượng
                        </div>
                        <div class="type_news">
                            Tin tổng hợp
                        </div>
                    </div>
                    <div class="new_news">
                        <div class="title_new_news">
                            Chúc mừng ngày Quốc tế phụ nữ
                        </div>
                        <div class="type_news">
                            Tin hoạt động của AMITECH
                        </div>
                    </div>
                    <div class="new_news">
                        <div class="title_new_news">
                            Review về các phần mềm quản lý công việc, giao việc phổ biến
                        </div>
                        <div class="type_news">
                            Tin tổng hợp
                        </div>
                    </div>
                    <div class="new_news new-news-end">
                        <div class="title_new_news">
                            Du lịch Công ty năm 2022 tại Ninh Bình
                        </div>
                        <div class="type_news">
                            Tin hoạt động của AMITECH
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="list_news_activity">
                <div class="news_activity">
                    <div class="news_activity_img">
                        <img class="w-100 h-100" src="../images/news/img1.png" alt="img1">
                    </div>
                    <p>Tin hoạt động của AMITECH</p>
                    <h4>Chúc mừng ngày Quốc tế phụ nữ</h4>
                    <div class="time-activity">
                        <i class="fa-regular fa-clock"></i><span>
                            13/09/2023 13:54
                        </span>
                  
                    </div>
                </div>
                <div class="news_activity">
                    <div class="news_activity_img">
                        <img src="../images/news/img2.png" alt="img2">
                    </div>
                    <p>Tin hoạt động của AMITECH</p>
                    <h4>Du lịch Công ty năm 2022 tại Ninh Bình</h4>
                    <div class="time-activity">
                        <i class="fa-regular fa-clock"></i><span>
                            13/09/2023 13:54
                        </span>
                  
                    </div>
                </div>
                <div class="news_activity">
                    <div class="news_activity_img">
                        <img src="../images/news/img3.png" alt="img3">
                    </div>
                    <p>Tin tổng hợp</p>
                    <h4>Tại sao cần xây dựng hệ thống phần mềm bảo trì, bảo dưỡng trong doanh nghiệp hiện nay?</h4>
                    <div class="time-activity">
                        <i class="fa-regular fa-clock"></i><span>
                            13/09/2023 13:54
                        </span>
                  
                    </div>
                </div>
                <div class="news_activity">
                    <div class="news_activity_img">
                        <img src="../images/news/img4.png" alt="img4">
                    </div>
                    <p>Tin hoạt động của AMITECH</p>
                    <h4>Team Building 2022 – MAKE THE BIGGER BOX, TOGETHER!</h4>
                    <div class="time-activity">
                        <i class="fa-regular fa-clock"></i><span>
                            13/09/2023 13:54
                        </span>

                    </div>
                </div>

                <!-- row2 -->
                <div class="news_activity">
                    <div class="news_activity_img">
                        <img class="w-100 h-100" src="../images/news/img5.png" alt="img5">
                    </div>
                    <p>Tin tổng hợp</p>
                    <h4>Review về các phần mềm quản lý công việc, giao việc phổ biến</h4>
                    <div class="time-activity">
                        <i class="fa-regular fa-clock"></i><span>
                            13/09/2023 13:54
                        </span>
                  
                    </div>
                </div>
                <div class="news_activity">
                    <div class="news_activity_img">
                        <img class="w-100 h-100" src="../images/news/img6.png" alt="img6">
                    </div>
                    <p>Tin tổng hợp</p>
                    <h4>Quản lý năng lượng là gì? Tìm hiểu chung về quản lý năng lượng</h4>
                    <div class="time-activity">
                        <i class="fa-regular fa-clock"></i><span>
                            13/09/2023 13:54
                        </span>
                  
                    </div>
                </div>
                <div class="news_activity">
                    <div class="news_activity_img">
                        <img class="w-100 h-100" src="../images/news/img7.png" alt="img7">
                    </div>
                    <p>Tin tổng hợp</p>
                    <h4>Chuyển đổi số cho doanh nghiệp: Tất cả những điều cần biết về chuyển đổi số</h4>
                    <div class="time-activity">
                        <i class="fa-regular fa-clock"></i><span>
                            13/09/2023 13:54
                        </span>
                  
                    </div>
                </div>
                <div class="news_activity">
                    <div class="news_activity_img">
                        <img class="w-100 h-100" src="../images/news/img2.png" alt="img8">
                    </div>
                    <p>Tin hoạt động của AMITECH</p>
                    <h4>Du lịch Công ty năm 2022 tại Ninh Bình</h4>
                    <div class="time-activity">
                        <i class="fa-regular fa-clock"></i><span>
                            13/09/2023 13:54
                        </span>
                  
                    </div>
                </div>

                <!-- row3 -->

                <div class="news_activity">
                    <div class="news_activity_img">
                        <img class="w-100 h-100" src="../images/news/img1.png" alt="img1">
                    </div>
                    <p>Tin hoạt động của AMITECH</p>
                    <h4>Chúc mừng ngày Quốc tế phụ nữ</h4>
                    <div class="time-activity">
                        <i class="fa-regular fa-clock"></i><span>
                            13/09/2023 13:54
                        </span>
                  
                    </div>
                </div>
                <div class="news_activity">
                    <div class="news_activity_img">
                        <img src="../images/news/img2.png" alt="img2">
                    </div>
                    <p>Tin hoạt động của AMITECH</p>
                    <h4>Du lịch Công ty năm 2022 tại Ninh Bình</h4>
                    <div class="time-activity">
                        <i class="fa-regular fa-clock"></i><span>
                            13/09/2023 13:54
                        </span>
                  
                    </div>
                </div>
                <div class="news_activity">
                    <div class="news_activity_img">
                        <img src="../images/news/img3.png" alt="img3">
                    </div>
                    <p>Tin tổng hợp</p>
                    <h4>Tại sao cần xây dựng hệ thống phần mềm bảo trì, bảo dưỡng trong doanh nghiệp hiện nay?</h4>
                    <div class="time-activity">
                        <i class="fa-regular fa-clock"></i><span>
                            13/09/2023 13:54
                        </span>
                  
                    </div>
                </div>
                <div class="news_activity">
                    <div class="news_activity_img">
                        <img src="../images/news/img4.png" alt="img4">
                    </div>
                    <p>Tin hoạt động của AMITECH</p>
                    <h4>Team Building 2022 – MAKE THE BIGGER BOX, TOGETHER!</h4>
                    <div class="time-activity">
                        <i class="fa-regular fa-clock"></i><span>
                            13/09/2023 13:54
                        </span>

                    </div>
                </div>
            </div>

            <div class="pagination">
                <div class="page_number page_checked">
                    <p>1</p>
                </div>
                <div class="page_number">
                    <p>2</p>
                </div>
                <div class="page_number">
                    <p>3</p>
                </div>
                <div class="page_number">
                    <p>4</p>
                </div>
                <div class="page_number">
                    <p>5</p>
                </div>
                <div class="page_number">
                    <p>...</p>
                </div>
                <div class="page_number">
                    <p>10</p>
                </div>
                <div class="page_number">
                    <p>></p>
                </div>
            </div>

        </div>   
    </section>


        <iframe src="../Views/footer.html" width="100%" height="401px" frameborder="0"></iframe>
  

   
</body>
</html>