<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chi tiết tin tức</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../CSS/layout.css">
    <link rel="stylesheet" href="../CSS/newsDetails.css">
</head>

<body>
    <!-- header -->
    <header>
        <iframe src="../Views/header.html" width="100%" height="auto" frameborder="0"></iframe>
    </header>
    <!-- header -->

    <section>
        <div class="banner banner-newsdetails">
            <div class="banner-img">
                <img class="w-100 h-100" src="../images/newsDetails/background-newsDetails.png" alt="banner-img">
            </div>
            <div class="overlay">

            </div>
            <div class="content">
                <h1>Ứng dụng phần mềm iNERGY AMS20 trong quản lý năng lượng</h1>
                <p>Thứ Ba, 15/08/2023</p>
            </div>
            <div class="page_newsDetail_breadcrumb">
                <a href="#">Trang chủ</a>
                <span>/</span>
                <a href="#">Tin tức</a>
                <span>/</span>
                <a href="#">Ứng dụng phần mềm iNERGY AMS20 trong quản lý năng lượng</a>
            </div>
        </div>

        <div class="content_newsDetails">
            <i>Trong khuôn khổ các hoạt động của triển lãm quốc tế công nghệ năng lượng - môi trường Hà Nội năm 2022,
                nhiều giải pháp công nghệ đã được giới thiệu đến các doanh nghiệp, trong đó có giải pháp về hệ thống
                phần mềm quản lý năng lượng iNERGY AMS20 của Công ty cổ phần Giải pháp Công nghệ AMI Việt Nam.</i>
            <img src="../images/newsDetails/hội chợ.png" alt="Amitech tham gia hội chợ">
            <p class="title_img">AMITECH tham gia hội chợ ENTECH 2023</p>
            <p>
                Năng lượng đóng một vai trò quan trọng trong đời sống, việc quản lý năng lượng sẽ mang lại nhiều lợi ích
                cho người dùng cũng như các doanh nghiệp. Việc quản lý năng lượng là điều cần thiết, giúp chủ động giám
                sát, kiểm soát năng lượng một cách có tổ chức, có hệ thống, đảm bảo những yêu cầu về kinh tế và môi
                trường.
            </p>
            <p>
                Hiện nay, nhiều công ty trên khắp các lĩnh vực đã và đang áp dụng quản lý năng lượng để cắt giảm chi phí
                vận hành. Những yêu cầu và thông lệ cụ thể khác nhau theo từng lĩnh vực, tuy nhiên những nguyên tắc cốt
                lõi vẫn giữ nguyên bao gồm 4 bước: thu thập – phân tích – tối ưu – giám sát. Trong đó, hệ thống phần mềm
                quản lý năng lượng iNERGY AMS20 cũng vận hành theo nguyên tắc này.
            </p>
            <p>
                Cụ thể, iNERGY AMS20 là một phần mềm hướng hến mục tiêu tiết kiệm năng lượng, giảm thiểu phát thảo cũng
                như bảo vệ môi trường, hướng đến sản xuất xanh. Các lợi ích mà phần mềm quản lý này mang lại bao gồm:
                tính toán tiềm năng tiết kiệm năng lượng; tự động phân tích và báo cáo; tiết kiệm chi phí sử dụng năng
                lượng; phù hợp tiêu chuẩn ISO 50001; bảo mật dữ liệu; tích hợp đa nền tảng…
            </p>
            <p>
                Xét về tính năng, iNergy AMS20 có khả năng kết nối tới nhiều nền tảng dữ liệu khác nhau bao gồm iNERGY
                Monitor, các hệ SCADA, BMS hay các Cơ sở dữ liệu khác nhau có trong tổ chức. Ngoài ra người dùng có thể
                nhập dữ liệu về năng lượng bằng tay hoặc nhập file excel. Không cần thêm công cụ, phần mềm bổ xung nào
                phải cài đặt thêm trên thiết bị người dùng (điện thoại, máy tính, laptop, máy tính bảng,..) đều có thể
                dễ dàng truy cập và giám sát mọi lúc mọi nơi.
            </p>
            <div>
                Từ những dữ liệu được thu thập, iNERGY AMS20 tự động thực hiện các phân tích xem xét năng lượng theo
                tiêu chuẩn ISO 50001 bao gồm:
                <ul>
                    <li>
                        Phân tích năng lượng tiêu thụ trọng điểm
                    </li>
                    <li>
                        Phân tích khu vực sử dụng năng lượng trọng điểm

                    </li>
                    <li>
                        Tính toán tiềm năng, giải pháp tiết kiệm năng lượng
                    </li>
                    <li>
                        Lập kế hoạch thực hiện giải pháp tiết kiệm năng lượng,...

                    </li>
                </ul>
            </div>
            <p>
                Ưu điểm của iNERGY AMS20 là tự động tính toán tiềm năng tiết kiệm năng lượng, từ đó thiết lập được mục
                tiêu, chỉ tiêu. Tự động tìm kiếm các biện pháp tiết kiệm năng lượng và cơ hội cải tiến phù hợp nhất với
                tổ chức, từ các đề xuất trong quá trình xem xét năng lượng, do đó tạo thành các mục tiêu cải tiến.
            </p>
            <p>
                Bên cạnh đó, thiết lập và tự động hóa việc giám sát các chỉ số hiệu quả sử dụng năng lượng. Tự động cảnh
                báo về bất kỳ sai lệch hoặc không phù hợp nào giúp đơn vị đưa ra các hành động khắc phục và phòng ngừa.
                Dựa trên dữ liệu năng lượng và các biến tác động iNERGY AMS20 tự động phân tích tính toán đường cơ sở
                năng lượng một cách chính xác…
            </p>
            <p>
                Ngoài ra, hệ thống còn có các tính năng truy vấn và trích xuất báo cáo mọi lúc, mọi nơi và dự báo năng
                lượng tiêu thụ trong tương lai; cung cấp dữ liệu và các báo cáo về tiêu thụ năng lượng; tính toán phân
                tích hiệu quả đầu tư giải pháp tiết kiệm năng lượng, giúp đơn vị quản lý tạo lập hồ sơ thực hiện các
                giải pháp kỹ thuật tiết kiệm năng lượng…
            </p>
            <p>
                Việc ứng dụng các hệ thống quản lý năng lượng nói riêng và các giải pháp công nghệ tiên tiến trong ngành
                công nghiệp năng lượng nói chung sẽ góp phần nâng cao chất lượng cũng như giúp tiết kiệm một phần năng
                lượng, phù hợp với mục tiêu phát triển bền vững của thế giới.
            </p>
            <p>Nguồn: https://khcncongthuong.vn/</p>
            
        </div>
        
        <div class="relative-news">
            <div class="title_Roboto">
                tin tức liên quan
            </div>
            <img class="w-100 h-100" src="../images/newsDetails/image 216.png" alt="">
        
            <div class="list_news_activity">
                <div class="news_activity">
                    <div class="news_activity_img">
                        <img class="w-100 h-100" src="../images/news/img1.png" alt="img1">
                    </div>
                    <p>Thứ Ba, 15/08/2023</p>
                    <h4>Chúc mừng ngày Quốc tế phụ nữ</h4>
                    
                </div>
                <div class="news_activity">
                    <div class="news_activity_img">
                        <img src="../images/news/img2.png" alt="img2">
                    </div>
                    <p>Thứ Ba, 15/08/2023</p>
                    <h4>Du lịch Công ty năm 2022 tại Ninh Bình</h4>
                    
                </div>
                <div class="news_activity">
                    <div class="news_activity_img">
                        <img src="../images/news/img3.png" alt="img3">
                    </div>
                    <p>Thứ Ba, 15/08/2023</p>
                    <h4>Tại sao cần xây dựng hệ thống phần mềm bảo trì, bảo dưỡng trong doanh nghiệp hiện nay?</h4> 
                </div>
                <div class="news_activity">
                    <div class="news_activity_img">
                        <img src="../images/news/img4.png" alt="img4">
                    </div>
                    <p>Thứ Ba, 15/08/2023</p>
                    <h4>Team Building 2022 – MAKE THE BIGGER BOX, TOGETHER!</h4>
                    
                </div>
            </div>
        </div>
    </section>

    <iframe src="../Views/footer.html" width="100%" height="401px" frameborder="0"></iframe>

</body>

</html>