<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thiết bị và sản phẩm cn</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../CSS/layout.css">
    <link rel="stylesheet" href="../CSS/home_product.css">
    <link rel="stylesheet" href="../CSS/product.css">

</head>

<body>
    <!-- header -->
    <header>
        <iframe src="../Views/header.html" width="100%" height="auto" frameborder="0"></iframe>
    </header>
    <!-- header -->

    <section>
        <div class="banner banner-product">
            <div class="banner-img">
                <img class="w-100 h-100" src="../images/product/background-product.png" alt="banner-img">
            </div>
            <div class="overlay">

            </div>
            <div class="content">
                <h1>Thiết bị và sản phẩm công nghiệp</h1>
                <p>Cung cấp các thiết bị và sản phẩm công nghiệp giúp hỗ trợ hoạt động tiết kiệm Năng lượng trong doanh
                    nghiệp</p>
            </div>

        </div>

        <div class="content-product">
            <div class="category">
                <a href="#" class="check">Tất cả</a>
                <a href="#">Thiết bị giám sát điện</a>
                <a href="#">Thiết bị giám sát khí nén</a>
                <a href="#">Thiết bị giám sát tiêu thụ nước</a>
            </div>

            <div class="equip_product_home">
                <div class="list_equip_product">
                    <div class="equip_product product">
                        <div class="background-img">
                            <img class="w-100 h_100" src="../images/product/product1.png" alt="product1">
                        </div>

                        <div class=" bg1">
                            <p class="product-type">thiết bị giám sát điện</p>
                            <p class="title">Máy chủ thu thập dữ liệu tiết kiệm Năng lượng</p>
                        </div>
                    </div>
                    <div class="equip_product product ml-24">
                        <div class="background-img">
                            <img class="w-100 h_100" src="../images/product/product2.png" alt="product2">
                        </div>
                        <div class=" bg1">
                            <p class="product-type">thiết bị giám sát điện</p>
                            <p class="title">Thiết bị đo Năng Lượng - EcoMonitorPlus</p>
                        </div>
                    </div>
                    <div class="equip_product product ml-24">
                        <div class="background-img">
                            <img class="w-100 h_100" src="../images/product/product3.png" alt="product3">
                        </div>
                        <div class=" bg1">
                            <p class="product-type">thiết bị giám sát điện</p>
                            <p class="title">Thiết bị đo Năng Lượng - EcoMonitorLight</p>
                        </div>
                    </div>
                    <div class="equip_product product ml-24">
                        <div class="background-img">
                            <img class="w-100 h_100" src="../images/product/product4.png" alt="product4">
                        </div>
                        <div class=" bg1">
                            <p class="product-type">thiết bị giám sát khí nén</p>
                            <p class="title">Đồng hồ đo lưu lượng khí nén</p>
                        </div>
                    </div>
                  
                    <!-- row2  -->
                    <div class="equip_product product">
                        <div class="background-img">
                            <img class="w-100 h_100" src="../images/product/product5.png" alt="product5">
                        </div>

                        <div class=" bg1">
                            <p class="product-type">thiết bị giám sát khí nén</p>
                            <p class="title">Cảm biến siêu âm xoáy đo lưu lượng</p>
                        </div>
                    </div>
                    <div class="equip_product product ml-24">
                        <div class="background-img">
                            <img class="w-100 h_100" src="../images/product/product6.png" alt="product6">
                        </div>
                        <div class=" bg1">
                            <p class="product-type">thiết bị giám sát khí nén</p>
                            <p class="title">Cảm biến lưu lượng khí nén ướt</p>
                        </div>
                    </div>
                    <div class="equip_product product ml-24">
                        <div class="background-img">
                            <img class="w-100 h_100" src="../images/product/product7.png" alt="product7">
                        </div>
                        <div class=" bg1">
                            <p class="product-type">thiết bị giám sát tiêu thụ nước</p>
                            <p class="title">Đồng hồ nước woltmann kỹ thuật số Hybrid</p>
                        </div>
                    </div>
                    <div class="equip_product product ml-24">
                        <div class="background-img">
                            <img class="w-100 h_100" src="../images/product/product8.png" alt="product8">
                        </div>
                        <div class=" bg1">
                            <p class="product-type">thiết bị giám sát tiêu thụ nước</p>
                            <p class="title">Đồng hồ đo lưu lượng đa phương tiện kỹ thuật số</p>
                        </div>
                    </div>

                    <!-- row3  -->
                    <div class="equip_product product">
                        <div class="background-img">
                            <img class="w-100 h_100" src="../images/product/product9.png" alt="product9">
                        </div>

                        <div class=" bg1">
                            <p class="product-type">thiết bị giám sát tiêu thụ nước</p>
                            <p class="title">Máy đo lưu lượng thông minh siêu âm Clamp-On</p>
                        </div>
                    </div>
                    <div class="equip_product product ml-24">
                        <div class="background-img">
                            <img class="w-100 h_100" src="../images/product/product10 (2).png" alt="product10">
                        </div>
                        <div class=" bg1">
                            <p class="product-type">thiết bị giám sát khí nén</p>
                            <p class="title">Đo lưu lượng điện từ</p>
                        </div>
                    </div>
                    <div class="equip_product product ml-24">
                        <div class="background-img">
                            <img class="w-100 h_100" src="../images/product/product11.png" alt="product11">
                        </div>
                        <div class=" bg1">
                            <p class="product-type">thiết bị giám sát khí nén</p>
                            <p class="title">Đồng hồ đo lưu lượng nhiệt để đo mức tiêu thụ</p>
                        </div>
                    </div>
                    
                </div>
            </div>

            <div class="pagination">
                <div class="page_number page_checked">
                    <p>1</p>
                </div>
                <div class="page_number">
                    <p>2</p>
                </div>
              
            </div>

        </div>
    </section>

    <iframe src="../Views/footer.html" width="100%" height="401px" frameborder="0"></iframe>

</body>

</html>