<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dự án tiêu biểu</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../CSS/layout.css">
    <link rel="stylesheet" href="../CSS/project.css">
</head>
<body>
      <!-- header -->
      <header>
        <iframe src="../Views/header.html" width="100%" height="auto" frameborder="0"></iframe>
    </header>
    <!-- header -->

    <section>
        <div class="banner banner-project">
            <div class="banner-img">
                <img class="w-100 h-100" src="../images/project/project.png" alt="project-img">
            </div>
            <div class="overlay">

            </div>
            <div class="content">
                <h1>dự án tiêu biểu</h1>
                <p>Cập nhật những dự án AMITECH đã triển khai</p>
            </div>
        </div>

        <div class="list-project">
            <!-- row1  -->
            <div class="project">
                <div class="project-img">
                    <img class="w-100 h-100" src="../images/project/project1.png" alt="project1">
                </div>
                <div class="project-title">
                    Cung cấp Thiết bị mới thuộc đề tài "Nghiên cứu thiết kế, chế tạo hệ thống quản lý, vận hành cung cấp điện thông minh phù hợp...
                </div>
                <ul>
                    <li><span>Tên khách hàng:</span> Viện Khoa học Công nghệ Mỏ - VINACOMIN</li>
                    <li><span>Địa điểm thực hiện:</span> Công ty CP Chế tạo máy - Vinacomin, số 486, đường Trần Phú, phường Cẩm Thuỷ, TP Cẩm Phả, tỉnh Quảng Ninh, Việt Nam</li>
                    <li><span>Thời gian thực hiện:</span> 2023</li>
                </ul>
                <a href="#">Xem chi tiết 
                    <i class="fa-solid fa-angles-right"></i>
                </a>
            </div>
            <div class="project">
                <div class="project-img">
                    <img class="w-100 h-100" src="../images/project/project2.png" alt="project2">
                </div>
                <div class="project-title">
                    Lắp đặt điện khí nước cho khu vực kiểm tra và Kyoso Lab
                </div>
                <ul>
                    <li><span>Tên khách hàng:</span>Công ty TNHH Việt Nam KANDENKO</li>
                    <li><span>Địa điểm thực hiện:</span> Hà Nội</li>
                    <li><span>Thời gian thực hiện:</span> 2023</li>
                </ul>
                <a href="#">Xem chi tiết 
                    <i class="fa-solid fa-angles-right"></i>
                </a>
            </div>
            <div class="project">
                <div class="project-img">
                    <img class="w-100 h-100" src="../images/project/project3.png" alt="project3">
                </div>
                <div class="project-title">
                    Lập Báo cáo mô phỏng hệ thống chân không bình ngưng và tháp làm mát Nhà máy nhiệt điện Mạo Khê
                </div>
                <ul>
                    <li><span>Tên khách hàng:</span>  Công ty Nhiệt điện Đông Triều - TKV- Chi nhánh TCT Điện lực TKV – CTCP</li>
                    <li><span>Địa điểm thực hiện:</span> Nhà máy nhiệt điện Mạo Khê</li>
                    <li><span>Thời gian thực hiện:</span> 2023</li>
                </ul>
                <a href="#">Xem chi tiết 
                    <i class="fa-solid fa-angles-right"></i>
                </a>
            </div>
            <div class="project">
                <div class="project-img">
                    <img class="w-100 h-100" src="../images/project/project4.png" alt="project4">
                </div>
                <div class="project-title">
                    Xây dựng bổ sung các phân hệ, chức năng của phần mềm quản lý máy biến áp
                </div>
                <ul>
                    <li><span>Tên khách hàng:</span>Công ty Công nghệ thông tin Điện lực miền Bắc – Chi nhánh Tổng công ty Điện lực miền Bắc</li>
                    <li><span>Địa điểm thực hiện:</span>  Hà Nội</li>
                    <li><span>Thời gian thực hiện:</span> 2023</li>
                </ul>
                <a href="#">Xem chi tiết 
                    <i class="fa-solid fa-angles-right"></i>
                </a>
            </div>

            <!-- row2  -->
            <div class="project">
                <div class="project-img">
                    <img class="w-100 h-100" src="../images/project/project5.png" alt="project5">
                </div>
                <div class="project-title">
                    Cung cấp, lắp đặt ứng dụng phần mềm INERGY vào quản lý điện tự dùng tại Nhà máy Thủy điện Quảng Trị
                </div>
                <ul>
                    <li><span>Tên khách hàng:</span>Công ty thủy điện Quảng Trị - Chi nhánh Tổng công ty Phát điện 2 – CTCP</li>
                    <li><span>Địa điểm thực hiện:</span> Nhà máy Thủy điện Quảng Trị, xã Tân Hợp, huyện Hướng Hóa, Tỉnh Quảng Trị</li>
                    <li><span>Thời gian thực hiện:</span>2022 - 2023</li>
                </ul>
                <a href="#">Xem chi tiết 
                    <i class="fa-solid fa-angles-right"></i>
                </a>
            </div>
            <div class="project">
                <div class="project-img">
                    <img class="w-100 h-100" src="../images/project/project6.png" alt="project6">
                </div>
                <div class="project-title">
                    Xây dựng phần mềm Quản lý dữ liệu tập trung Master Data Management
                </div>
                <ul>
                    <li><span>Tên khách hàng:</span> Tổng Công ty Thép Việt Nam - CTCP</li>
                    <li><span>Địa điểm thực hiện:</span> Hà Nội</li>
                    <li><span>Thời gian thực hiện:</span> 2022</li>
                </ul>
                <a href="#">Xem chi tiết 
                    <i class="fa-solid fa-angles-right"></i>
                </a>
            </div>
            <div class="project">
                <div class="project-img">
                    <img class="w-100 h-100" src="../images/project/project7 (2).png" alt="project7">
                </div>
                <div class="project-title">
                    Xây dựng Cổng thông tin điện tử về lĩnh vực Quản lý năng lượng cho Sở Công Thương tỉnh Thừa Thiên Huế
                </div>
                <ul>
                    <li><span>Tên khách hàng:</span>BAN QUẢN LÝ DỰ ÁN LUXEMBOURG và Sở Công Thương, Tỉnh Thừa Thiên Huế</li>
                    <li><span>Địa điểm thực hiện:</span>Tỉnh Thừa Thiên Huế</li>
                    <li><span>Thời gian thực hiện:</span> 2022</li>
                </ul>
                <a href="#">Xem chi tiết 
                    <i class="fa-solid fa-angles-right"></i>
                </a>
            </div>
            <div class="project">
                <div class="project-img">
                    <img class="w-100 h-100" src="../images/project/project4.png" alt="project8">
                </div>
                <div class="project-title">
                    Xây dựng bổ sung các phân hệ, chức năng của phần mềm quản lý máy biến áp
                </div>
                <ul>
                    <li><span>Tên khách hàng:</span>Công ty Công nghệ thông tin Điện lực miền Bắc – Chi nhánh Tổng công ty Điện lực miền Bắc</li>
                    <li><span>Địa điểm thực hiện:</span>  Hà Nội</li>
                    <li><span>Thời gian thực hiện:</span> 2023</li>
                </ul>
                <a href="#">Xem chi tiết 
                    <i class="fa-solid fa-angles-right"></i>
                </a>
            </div>

             <!-- row3  -->
             <div class="project">
                <div class="project-img">
                    <img class="w-100 h-100" src="../images/project/project9.png" alt="project9">
                </div>
                <div class="project-title">
                    Tháo lắp, hiệu chỉnh, di chuyển và đấu nối các thiết bị đo đếm điện năng tại các phụ tải chính trong toàn mạng cung cấp...
                </div>
                <ul>
                    <li><span>Tên khách hàng:</span> Công ty thủy điện Quảng Trị - Chi nhánh Tổng công ty Phát điện 2 – CTCP</li>
                    <li><span>Địa điểm thực hiện:</span>Nhà máy Thủy điện Quảng Trị, xã Tân Hợp, huyện Hướng Hóa, Tỉnh Quảng Trị</li>
                    <li><span>Thời gian thực hiện:</span>2022 - 2023</li>
                </ul>
                <a href="#">Xem chi tiết 
                    <i class="fa-solid fa-angles-right"></i>
                </a>
            </div>
         

            <div class="project">
                <div class="project-img">
                    <img class="w-100 h-100" src="../images/project/project10.png" alt="project10">
                </div>
                <div class="project-title">
                    Xây dựng phần mềm Quản lý dữ liệu tập trung Master Data Management
                </div>
                <ul>
                    <li><span>Tên khách hàng:</span> Tổng Công ty Thép Việt Nam - CTCP</li>
                    <li><span>Địa điểm thực hiện:</span> Hà Nội</li>
                    <li><span>Thời gian thực hiện:</span> 2022</li>
                </ul>
                <a href="#">Xem chi tiết 
                    <i class="fa-solid fa-angles-right"></i>
                </a>
            </div>


            <div class="project">
                <div class="project-img">
                    <img class="w-100 h-100" src="../images/project/project11.png" alt="project11">
                </div>
                <div class="project-title">
                    Nâng cấp chức năng báo cáo của Hệ thống cơ sở dữ liệu năng lượng trọng điểm theo thông tư 25/2020/TT-BCT
                </div>
                <ul>
                    <li><span>Tên khách hàng:</span> BAN QUẢN LÝ DỰ ÁN LUXEMBOURG và Sở Công Thương, Tỉnh Thừa Thiên Huế</li>
                    <li><span>Địa điểm thực hiện:</span>Tỉnh Thừa Thiên Huế</li>
                    <li><span>Thời gian thực hiện:</span> 2022</li>
                </ul>
                <a href="#">Xem chi tiết 
                    <i class="fa-solid fa-angles-right"></i>
                </a>
            </div>
            <div class="project">
                <div class="project-img">
                    <img class="w-100 h-100" src="../images/project/project4.png" alt="project8">
                </div>
                <div class="project-title">
                    Xây dựng bổ sung các phân hệ, chức năng của phần mềm quản lý máy biến áp
                </div>
                <ul>
                    <li><span>Tên khách hàng:</span>Công ty Công nghệ thông tin Điện lực miền Bắc – Chi nhánh Tổng công ty Điện lực miền Bắc</li>
                    <li><span>Địa điểm thực hiện:</span>  Hà Nội</li>
                    <li><span>Thời gian thực hiện:</span> 2023</li>
                </ul>
                <a href="#">Xem chi tiết 
                    <i class="fa-solid fa-angles-right"></i>
                </a>
            </div>
        </div>

        <div class="pagination">
            <div class="page_number page_checked">
                <p>1</p>
            </div>
            <div class="page_number">
                <p>2</p>
            </div>
            <div class="page_number">
                <p>3</p>
            </div>
            <div class="page_number">
                <p>4</p>
            </div>
            <div class="page_number">
                <p>5</p>
            </div>
            <div class="page_number">
                <p>...</p>
            </div>
            <div class="page_number">
                <p>10</p>
            </div>
            <div class="page_number">
                <p>></p>
            </div>
        </div>

    </section>

    <iframe src="../Views/footer.html" width="100%" height="401px" frameborder="0"></iframe>

</body>
</html>