<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chi tiết giải pháp chuyển đổi số</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../CSS/layout.css">
    <link rel="stylesheet" href="../CSS/solutionDetails.css">
</head>

<body>
    <!-- header -->
    <header>
        <iframe src="../Views/header.html" width="100%" height="auto" frameborder="0"></iframe>
    </header>
    <!-- header -->
    <section>
        <div class="banner banner-solutiondetails">
            <div class="banner-img">
                <img class="w-100 h-100" src="../images/solutionDetails/solution_details.png" alt="banner-img">
            </div>
            <div class="overlay">

            </div>
            <div class="content">
                <h1>Quản lý năng lượng - INERGY</h1>
                <p>Thứ Ba, 15/08/2023</p>
            </div>
            <div class="page_solutionDetail_breadcrumb">
                <a href="#">Trang chủ</a>
                <span>/</span>
                <a href="#">Giải pháp chuyển đổi số</a>
                <span>/</span>
                <a href="#" style="color: #FFFFFFB2;">Quản lý năng lượng - INERGY</a>
            </div>
        </div>

        <div class="general">
            <div class="general_title title_Roboto">
                Tổng quan về phần mềm
            </div>
            <p>Là hệ thống
                phần mềm thông minh, chuyên
                nghiệp, hiện đại được tư vấn thiết
                kế bởi các chuyên gia Quản lý
                Năng lượng, hỗ trợ công tác quản
                lý năng lượng trong các doanh
                nghiệp công nghiệp.</p>
            <div class="general_video">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/8rm6kc202PE?si=FZa_n1J_7Kn6sqZa"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="general_button">
                <a href="#" class="btn_advise">Tư vấn miễn phí</a>
                <a href="#" class="btn_download">Tải Catalogue</a>
            </div>
        </div>

        <div class="feature">
            <div class="feature_title title_Roboto">
                Tính năng
            </div>
            <div class="feature_content">
                <ul>
                    <li>
                        Đo và thu thập các thông số
                        <p>Đo và thu thập các thông số
                            hoạt động của hệ thống sử
                            dụng Năng lượng: Thông số
                            điện, nhiệt độ, lưu lượng...</p>
                    </li>
                    <li>
                        Giám sát và cảnh báo
                        <p>
                            Giám sát hoạt động của các
                            hệ thống, cảnh báo sớm các
                            bất thường trên hệ thống
                        </p>
                    </li>
                    <li>
                        Xây dựng đường cơ sở Năng lượng
                        <p>
                            Hỗ trợ xây dựng đường cơ sở
                            Năng lượng, chỉ số hiệu quả
                            Năng lượng
                        </p>
                    </li>
                </ul>
            </div>
            <div class="feature-img">
                <div class="frame_computer">
                    <img class="w-100 h-100" src="../images/solutionDetails/may tinh 1.png" alt="frame">
                    <div class="feature_carousel">
                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="../images/solutionDetails/Loại năng lượng sử dụng 1.png"
                                        class="d-block w-100 h-100  " alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="../images/solutionDetails/Loại năng lượng sử dụng 1.png"
                                        class="d-block w-100 h-100 " alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="../images/solutionDetails/Loại năng lượng sử dụng 1.png"
                                        class="d-block w-100 h-100 " alt="...">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button"
                                data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <div class="benefit">
            <div class="benefit-title title_Roboto">
                Lợi ích
            </div>
            <div class="benefit-content">
                <div class="benefit-img">
                    <img src="../images/solutionDetails/quan-ly-nang-luong 1.png" alt="">
                </div>
                <ul>
                    <li>Tính toán tiềm năng tiết kiệm Năng lượng</li>
                    <li>
                        Tự động phân tích và báo cáo
                    </li>
                    <li>
                        Tiết kiệm chi phí sử dụng Năng lượng
                    </li>
                    <li>
                        Phù hợp tiêu chuẩn ISO 50001
                    </li>
                    <li>
                        Bảo mật dữ liệu
                    </li>
                    <li>
                        Tích hợp đa nền tảng
                    </li>
                </ul>
            </div>
        </div>

        <div class="system-model">
            <div class="system-model-title title_Roboto">
                mô hình hệ thống
            </div>
            <div class="system-model-img">
                <img src="../images/solutionDetails/cau-hinh-he-thong 1.png" alt="">
            </div>
        </div>

        <div class="customer_home">
            <div class="title_customer title_Roboto">
                Đối tác và khách hàng
            </div>
            <div class="list-customer">
                <div class="customer">
                    <img src="../images/solutionDetails/customer1.png" alt="cus1">
                </div>
                <div class="customer">
                    <img src="../images/solutionDetails/customer2.png" alt="cus2">
                </div>
                <div class="customer">
                    <img src="../images/solutionDetails/customer3.png" alt="cus3">
                </div>
                <div class="customer">
                    <img src="../images/solutionDetails/customer4.png" alt="cus4">
                </div>

            </div>
        </div>

        <div class="orther-solution">
            <div class=" title_Roboto">
                Giải pháp khác
            </div>
            <div class="list_project">
                <!-- row1  -->
                <div class="project">
                    <div class="project-img">
                        <img class="w-100 h-100" src="../images/project/project1.png" alt="project1">
                    </div>
                    <div class="project-title">
                        Quản lý năng lượng - INERGY
                    </div>
                    <p>
                        Phần mềm thông minh, chuyên
                        nghiệp, hiện đại được tư vấn thiết
                        kế bởi các chuyên gia Quản lý
                        Năng lượng, hỗ trợ công...chuyên gia Quản lý
                        Năng lượng, hỗ trợ công...chuyên gia Quản lý
                        Năng lượng, hỗ trợ công...
                    </p>
                    <a href="#">Xem chi tiết
                        <i class="fa-solid fa-angles-right"></i>
                    </a>
                </div>
                <div class="project">
                    <div class="project-img">
                        <img class="w-100 h-100" src="../images/project/project2.png" alt="project2">
                    </div>
                    <div class="project-title">
                        Giám sát máy sản xuất - AMWorking
                    </div>
                    <p>
                        Phần mềm thông minh, chuyên
                        nghiệp, hiện đại được tư vấn thiết
                        kế bởi các chuyên gia Quản lý
                        Năng lượng, hỗ trợ công...chuyên gia Quản lý
                        Năng lượng, hỗ
                    </p>
                    <a href="#">Xem chi tiết
                        <i class="fa-solid fa-angles-right"></i>
                    </a>
                </div>
                <div class="project">
                    <div class="project-img">
                        <img class="w-100 h-100" src="../images/project/project3.png" alt="project3">
                    </div>
                    <div class="project-title">
                        Giám sát điều khiển thiết bị phụ trợ
                    </div>
                    <p>
                        Phần mềm thông minh, chuyên
                        nghiệp, hiện đại được tư vấn thiết
                        kế bởi các chuyên gia Quản lý
                        Năng lượng, hỗ trợ công...chuyên gia Quản lý
                        Năng lượng, hỗ trợ công...chuyên gia Quản lý
                        Năng
                    </p>
                    <a href="#">Xem chi tiết
                        <i class="fa-solid fa-angles-right"></i>
                    </a>
                </div>
                <div class="project">
                    <div class="project-img">
                        <img class="w-100 h-100" src="../images/project/project4.png" alt="project4">
                    </div>
                    <div class="project-title">
                        Cổng thông tin điện tử - AMI.Portal
                    </div>
                    <p>
                        Phần mềm thông minh, chuyên
                        nghiệp, hiện đại được tư vấn thiết
                        kế bởi các chuyên gia Quản lý
                        Năng lượng, hỗ trợ công...chuyên gia Quản lý
                        Năng lượng, hỗ trợ công...chuyên gia Quản lý
                        Năng lượng, hỗ trợ công...
                    </p>
                    <a href="#">Xem chi tiết
                        <i class="fa-solid fa-angles-right"></i>
                    </a>
                </div>


            </div>

        </div>

    </section>

    <iframe src="../Views/footer.html" width="100%" height="401px" frameborder="0"></iframe>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>